rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }

    function isValidTicketCreate() {
      return request.resource.data.keys().hasOnly([
        'ticketId',
        'fullName',
        'department',
        'productionLine',
        'otherDepartment',
        'suggestionType',
        'detail',
        'cause',
        'problem',
        'solution',
        'beforeImages',
        'afterImages',
        'status',
        'managerFeedback',
        'afterDetail',
        'createdAt'
      ])
      && request.resource.data.ticketId is string
      && request.resource.data.fullName is string
      && request.resource.data.department is string
      && request.resource.data.productionLine is string
      && request.resource.data.otherDepartment is string
      && request.resource.data.suggestionType is string
      && request.resource.data.detail is string
      && request.resource.data.cause is string
      && request.resource.data.problem is string
      && request.resource.data.solution is string
      && request.resource.data.beforeImages is list
      && request.resource.data.afterImages is list
      && request.resource.data.status == 'Pending'
      && request.resource.data.managerFeedback is string
      && request.resource.data.afterDetail is string
      && request.resource.data.createdAt is timestamp;
    }

    match /tickets/{ticketId} {
      allow create: if isValidTicketCreate();
      allow read, update, delete: if isSignedIn();
    }
  }
}
